{% extends "base_app.html" %}

{% load i18n widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

{% include "include/app/bread.html" with title="Parola Sıfırla" subtitle=subtitle %}


<!-- row -->


<div class="row row-sm main-content-mail">
						{% include "users/include/menu.html" %}
						<div class="col-lg-8 col-xl-9 col-md-12">
							<div class="card">
								<div class="main-content-body main-content-body-mail card-body">
																	
									
<form method="post" action="" novalidate>
            {% csrf_token %}
              <div class="form-layout form-layout-5">
                <div class="row">
                  <label class="col-sm-3 form-control-label">{{form.oldpassword.label}}</label>
                  <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                        {% render_field form.oldpassword class="form-control" placeholder=form.oldpassword.label  %}
                        {% if form.oldpassword.errors %}
                            <ul class="form-errors" style="color:red">
                            {% for error in form.oldpassword.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
                </div><!-- row -->
                <div class="row mg-t-20">
                  <label class="col-sm-3 form-control-label">{{form.password1.label}}</label>
                  <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                        {% render_field form.password1 class="form-control" placeholder=form.password1.label  %}
                        {% if form.password1.errors %}
                            <ul class="form-errors" style="color:red">
                            {% for error in form.password1.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
                </div><!-- row -->
                <div class="row mg-t-20">
                  <label class="col-sm-3 form-control-label">{{form.password2.label}}</label>
                  <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                        {% render_field form.password2 class="form-control" placeholder=form.password2.label  %}
                        {% if form.password2.errors %}
                            <ul class="form-errors" style="color:red">
                            {% for error in form.password2.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                  </div>
                </div><!-- row -->



                
                
                <div class="row mg-t-30">
                  <div class="col-sm-9 mg-l-auto">
                    <div class="form-layout-footer">
                      <button type="input" class="btn btn-primary bd-0">{% trans "Submit" %}</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- col-8 -->
                </div>
              </div><!-- form-layout -->
              </form>

              
<p class="mt-5">



{% blocktrans %}Eski parolanızı hatırlamıyorsanız yeni bir parola talep edebilirsiniz.{% endblocktrans %} <a href="{% url 'account_reset_password' %}">{% trans "Eski Parolamı Gönder" %}</a>
</p>




									<div class="mg-lg-b-30"></div>
								</div>
							</div>
						</div>
					
</div>








<!-- row closed -->


    
{% endblock %}
