{% extends "base.html" %}

{% load static i18n base_tags widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block side_bar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}

<!-- Navbar -->
<header>
    <div class="container-fluid">
        <div class="border-bottom pt-6">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12">
                <!-- Title -->
                    <h1 class="h2 ls-tight">
                        {% trans "Change password" %}
                    </h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12"></div>
            </div>
                    
            <!-- Nav -->
            {% include "users/menu/user_profile.html" %}
                    
         </div>
    </div>
</header>


<main class="py-6 bg-surface-secondary">
                    
<div class="container-fluid max-w-screen-md vstack gap-6">

               

    <div class="card">
        <div class="card-body row g-5">
          <div class="col-md-6">
            <h5 class="h4 mb-5">{% trans "Change Password" %}</h5>
            <form method="post">
                {% csrf_token %}
              <div class="mb-5">
                <div>
                    <label class="form-label">{{form.oldpassword.label}}</label>
                    {% render_field form.oldpassword class="form-control form-control-sm" placeholder=form.oldpassword.label  %}
                    {% if form.oldpassword.errors %}
                        <ul class="form-errors text-sm" style="color:red">
                        {% for error in form.oldpassword.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  
                </div>
              </div>
              <div class="mb-5">
                <div>
                    <label class="form-label">{{form.password1.label}}</label>
                  {% render_field form.password1 class="form-control form-control-sm" placeholder=form.password1.label  %}
                  {% if form.password1.errors %}
                      <ul class="form-errors text-sm" style="color:red">
                      {% for error in form.password1.errors %}
                          <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                  {% endif %}
                  </div>
              </div>
              <div class="mb-5">
                <div>
                    <label class="form-label">{{form.password2.label}}</label>
                  {% render_field form.password2 class="form-control form-control-sm" placeholder=form.password2.label  %}
                  {% if form.password2.errors %}
                      <ul class="form-errors text-sm" style="color:red">
                      {% for error in form.password2.errors %}
                          <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                  {% endif %}
                  </div>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-sm btn-primary">{% trans "Change Password" %}</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="card bg-dark border-0 shadow-none ml-md-4">
              <div class="card-body">
                <h5 class="text-white mb-2">Password requirements</h5>
                <p class="text-sm text-white mb-3">In order to create a strong password, here are some rules to have in mind:</p>
                <ul class="text-warning font-code pl-4 mb-0">
                  <li class="text-xs">Minimum 8 character</li>
                  <li class="text-xs">At least one lowercase character : a-z</li>
                  <li class="text-xs">At least one uppercase character : A-Z</li>
                  <li class="text-xs">At least one number character : 0-9</li>
                  <li class="text-xs">At least one symbol character : ()[]{}|\`~!@#$%^&*_-+=;:'",<>./?</li>
                  <li class="text-xs">Can’t be the same as the previous password</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>




                
</div>
            
</main>



{% endblock %}


{% block templateCSS %}{% endblock %}

{% block templateJS %}{% endblock %}


