{% extends "base_basic.html" %}

{% load static i18n widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}



{% block content %}

<div class="px-5 py-5 p-lg-0 h-screen bg-surface-secondary d-flex flex-column justify-content-center">
  <div class="d-flex justify-content-center">
      <div class="col-12 col-md-9 col-lg-6 min-h-lg-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
          <div class="row">
              <div class="col-lg-10 col-md-9 col-xl-7 mx-auto">
                  
                
                <div class="text-center mb-12">
                     
                      <h1 class="ls-tight font-bolder mt-6">
                        {% trans "Password Reset" %}
                      </h1>
                  </div>
                  <form method="post" action="{% url 'account_reset_password' %}" novalidate>
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                              {{ hidden_field }}
                            {% endfor %}
            
                            {% if form.non_field_errors %}
                              <div class="alert alert-solid-warning mt-3" role="alert">
                                {% for error in form.non_field_errors %}
                                  {{ error }}
                                {% endfor %}
                              </div>
                            {% endif %}
            
                            {% for field in form.visible_fields %}
                              <div class="form-group">
            
                                {% if form.is_bound %}
                                  {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {% render_field field class="form-control  is-valid" %}
                                  {% endif %}
                                {% else %}
                                  <label>{{field.label}}</label>
                                  {% render_field field class="form-control " %}
                                {% endif %}
            
                                {% if field.help_text %}
                                  <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                              </div>
                            {% endfor %}
            
            
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-sm mt-3">{% trans "Submit" %}</button>
                </form>
                 
                  
                  <div class="my-6">
                    <small> 
                      {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-warning text-sm font-semibold">sign in</a>.{% endblocktrans %}
                     
                    </small>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>





{% endblock %}